<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/pri5ayn.css">

    <link rel="stylesheet" href="/static/styles.css">
    <title>WWR/{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- used for page transitions -->
    <div class="page-overlay"></div>

    <nav>   
        {% block navigation %} 
        <div class="nav-container">
            <button class="menu-toggle" id="menu-toggle">+</button>
            <nav class="nav-menu" id="nav-menu">
              <a href="/">HOME</a>
              <a href="/radios">RADIOS</a>
              <a href="/settings">SETTINGS</a>
              <a href="/contact">CONTACT</a>
              <p>WWR 0.0.0, 2024</p>
            </nav>
          </div>
        {% endblock %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <div class="footer-container">
            <p> here will be some footer information i dont know what actually</p>
        </div>
        {% endblock %}
    </footer>
    <script src="/static/scripts.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const overlay = document.querySelector('.page-overlay');
            
            // handling internal link for transition animation clicks
            document.querySelectorAll('a').forEach(link => {
                link.addEventListener('click', (e) => {
                    if (link.hostname === window.location.hostname) {
                        e.preventDefault();
                        overlay.style.opacity = '1';
                        setTimeout(() => {
                            window.location.href = link.href;
                        }, 500);
                    }
                });
            });

            window.addEventListener('pageshow', () => {
                overlay.style.opacity = '0';
            });
        });
    </script>
</body>
</html>