{% extends "base.html" %}
{% block title %}RADIOS{% endblock %}
{% block content %}
<h1 style="margin: 40svh 0 40svh 2rem; width:20ch;">there is now {{ stations_working }}<br>stations playing<br>all sorts of stuff</h1>
<div class="radio-list-wrapper">
    <ul>
        <div class="radios-list" id="radiosList">
            {% for station in stations %}
            <li>
                <button type="button" id="radio-play-text"
                    onclick="window.location.href='{{ url_for('play_radio', radio_num=loop.index) }}'">
                    {{ station.name }}
                </button>
                <!-- radio details -->
                <a href="{{ url_for('radio_details', radio_num=loop.index) }}" class="radio-details-link">
                    ?
                </a>
            </li>
            {% endfor %}
        </div>
        <!-- loading indicator -->
        <div id="loadingIndicator" class="loading-indicator" style="display: none;">
            <p>loading more stations...</p>
        </div>
        <!-- end of list indicator -->
        <div id="endOfList" class="end-of-list" style="display: none;">
            <p>all {{ total_stations }} stations loaded!</p>
        </div>
    </ul>
</div>

<script>
window.radioConfig = {
    currentIndex: {{ initial_batch_size }},
    totalStations: {{ total_stations }},
    batchSize: 25
};
</script>
{% endblock %}